.Projects {
    position: relative;
    max-width: 1920px;
    width: 95%;
    max-height: 900px;
    height: 100%;
    margin-bottom: 25px;
}

.projectsContent {
    max-width: 1050px;
    width: 95%;
    text-align: justify;
    line-height: 31px;
    margin: 0 auto;
    color: var(--eigengrau-color);

    p {
        font-size: 20px;
        font-weight: 500;
    }
}

.topLine {
    display: flex;
    max-width: 1925px;
    width: 100%;
}

.title {
    display: flex;
    align-items: center;

    img {
        margin-right: 10px;
    }
}

.projectItems {
    max-width: 1080px;
    width: 100%;
    margin: 0 auto;
    @media (max-width:1340px) {
        padding-left: 27px;
        margin: 0 auto;
    }
}

.projectButton {
    max-width: 344px;
    width: 100%;
    padding: 15px;
    border-radius: 46px;
    background: var(--hexadecimal-color);
    box-shadow: var(--button-shadow);
    color: var(--white-color);
    font-size: 18px;
    font-weight: 700;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}

//------------------------------------

.imagesDiv {
    max-width: 1880px;
    width: 95%;
    max-height: 785px;
    height: 100%;
    position: absolute;
    top: 11%;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px;
    box-sizing: border-box;
}

.firstImg {
    max-width: 114px;
    width: 100%;
    max-height: 114px;
    height: 100%;
    transform: rotate(90deg);
    opacity: 0.5;
    @media (max-width:1340px) {
        display: none;
    }
}