.Sages {
    max-width: 1080px;
    width: 95%;
    text-align: justify;
    line-height: 31px;
    margin: 0 auto;
    display: flex;

    p {
        max-width: 624px;
        width: 95%;
        font-size: 20px;
        font-weight: 500;
        line-height: 31px;
        padding-right: 35px;
    }

    @media (max-width:900px) {
        width: 90%;
        justify-content: center;
        align-items: center;
        padding-left: 35px;
    }

    @media (max-width:480px) {
        p {
            font-size: 14px;
            font-weight: 500;
            line-height: 18.5px;
            padding-right: 25px;
            box-sizing: border-box;
        }
    }
}

.title {
    display: flex;
    align-items: center;
    margin: 0;
    margin-bottom: -25px;

    img {
        margin-right: 5px;
    }

    @media (max-width:900px) {
        margin-bottom: -5px;
    }

    @media (max-width:480px) {
        h2 {
            font-size: 18px;
            font-weight: 700;
        }

        img {
            width: 20.756px;
            height: 22.39px;
        }
    }
}

.buttonMore {
    max-width: 245px;
    width: 100%;
    border-radius: 46px;
    background-color: var(--white-color);
    padding: 15px;
    border: 1px solid var(--hexadecimal-color);
    font-size: 18px;
    font-weight: 700;

    @media (max-width:900px) {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0 auto;
    }

    @media (max-width:625px) {
        max-width: 218px;
        height: 44px;
        font-size: 18px;
        font-weight: 700;
        line-height: 18.5px;
    }
}

.sages {
    max-width: 405px;
    max-height: 384px;

    @media (max-width:480px) {
        max-width: 228.355px;
        max-height: 197.726px;
        margin-left: auto;
        margin-right: 30px;
    }
}

.content {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    @media (max-width:900px) {
        flex-direction: column-reverse;
        margin: 0 auto;
    }
}