.EcoSystem {
    max-width: 1925px;
    width: 100%;
    box-sizing: border-box;


    @media (max-width:625px) {
        padding-bottom: 35px;
    }
}

.topLine {
    display: flex;
    max-width: 1925px;
    width: 100%;
}

.ecosystemContent {
    max-width: 1080px;
    width: 100%;
    text-align: justify;
    margin: 0 auto;
    color: var(--eigengrau-color);
    box-sizing: border-box;

    @media (max-width:1028px) {
        padding: 20px 48px;
    }

    h2 {
        font-size: 36px;
        font-style: normal;
        font-weight: 700;
        margin: 0;
    }

    p {
        font-size: 20px;
        font-weight: 500;
        line-height: 31px;
    }

    @media (max-width:480px) {
        h2 {
            font-size: 18px;
            font-weight: 700;
        }

        p {
            font-size: 14px;
            font-weight: 500;
            line-height: 18.5px;
        }
    }
}

.title {
    display: flex;
    align-items: center;
    padding-top: 55px;
    margin-left: -55px;
    box-sizing: border-box;


    img {
        margin-right: 10px;
    }

    @media (max-width:625px) {
        margin-left: -45px;

    }

    @media (max-width:560px) {
        margin-left: -40px;
        padding-top: 15px;

        h2 {
            font-size: 18px;
            font-weight: 700;
        }

        img {
            width: 26.794px;
            height: 24.301px;
        }
    }

}

.ecoDiv {
    height: 80px;

    @media (max-width:625px) {
        height: 0px;
    }
}