.EcoSystem {
    max-width: 1925px;
    width: 100%;
    margin-bottom: 15px;
}

.topLine {
    display: flex;
    max-width: 1925px;
    width: 100%;
}

.ecosystemContent {
    max-width: 1050px;
    width: 95%;
    text-align: justify;
    line-height: 31px;
    margin: 0 auto;
    color: var(--eigengrau-color);
    padding: 20px;
    box-sizing: border-box;

    p {
        font-size: 20px;
        font-weight: 500;
    }

    @media (max-width:480px) {
        h2 {
            font-size: 18px;
            font-weight: 700;
        }

        p {
            font-size: 14px;
            font-weight: 500;
            line-height: 18.5px;
        }
    }
}

.title {
    display: flex;
    align-items: center;
    margin-top: 15px;


    img {
        margin-right: 10px;
    }
}

.ecoDiv {
    height: 90px;
}