.EcoSystem {
    max-width: 1925px;
    width: 100%;
    margin-bottom: 15px;
}

.topLine {
    display: flex;
    max-width: 1925px;
    width: 100%;
}

.ecosystemContent {
    max-width: 1050px;
    width: 95%;
    text-align: justify;
    line-height: 31px;
    margin: 0 auto;
    color: var(--eigengrau-color);

    p {
        font-size: 20px;
        font-weight: 500;
    }
}

.title {
    display: flex;
    align-items: center;
    margin-top: 15px;


    img {
        margin-right: 10px;
    }
}

.ecoDiv {
    height: 120px;
}