.Important {
    position: relative;
    max-width: 1920px;
    width: 100%;
    max-height: 900px;
    height: 100%;
    box-sizing: border-box;


}

.importantContent {
    max-width: 1080px;
    width: 100%;
    text-align: justify;
    line-height: 31px;
    margin: 0 auto;
    margin-top: 15px;
    z-index: 1;
    padding: 25px;
    box-sizing: border-box;

    @media (max-width:1028px) {
        padding: 0 27px;
    }

    @media (max-width:480px) {
        padding: 0 45px;
    }
}

.topLine {
    display: flex;
    max-width: 1925px;
    width: 100%;
}

.title {
    display: flex;
    align-items: center;
    margin-left: -55px;
    box-sizing: border-box;

    h2 {
        font-size: 36px;
        font-weight: 700;
        color: var(--eigengrau-color);

        @media (max-width:625px) {
            margin: 0px;
        }

        @media (max-width:560px) {
            font-size: 18px;
            font-weight: 700;
        }
    }

    img {
        margin-right: 10px;
        margin-left: 10px;

        @media (max-width:625px) {
            width: 18.615px;
            height: 21.999px;
        }
    }

    @media (max-width:625px) {
        margin-left: -35px;
    }
}

.importantP {
    font-size: 20px;
    font-weight: 500;

    p {
        font-size: 20px;
        font-weight: 500;

        @media (max-width:560px) {
            font-size: 16px;
            line-height: 18.5px;
        }
    }
}

.imagesDiv {
    max-width: 1880px;
    width: 90%;
    max-height: 785px;
    height: 100%;
    position: absolute;
    top: 1%;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 35px;
    box-sizing: border-box;
    z-index: 0;

    @media (max-width:560px) {
        left: 43%;
    }
}

.firstImg {
    max-width: 95px;
    width: 100%;
    max-height: 96px;
    height: 100%;
    transform: rotate(90deg);
    opacity: 0.5;

    @media (max-width:1340px) {
        display: none;
    }

}

.secondImg {
    width: 435px;
    height: 435px;

    @media (max-width:1340px) {
        margin: 0 auto;
    }

    @media (max-width:560px) {
        width: 340px;
        height: 360px;
    }
}

.bottomPart {
    @media (max-width:480px) {
        height: 50px;
        background-color: rgb(242, 242, 242);
        max-width: 480px;
        margin-left: -45px;
        margin-right: -45px;
        padding-top: 4px;
    }
}