@mixin flexCenter {
    display: flex;
    align-items: center;
}

.Home {
    position: relative;
    max-width: 1920px;
    width: 100%;
    max-height: 1800px;
    height: 100%;
    margin: 0 auto;
    padding-top: 106px;

    @media (max-width:880px) {
        margin-top: 106px;
    }

    @media (max-width:560px) {
        max-width: 590px;
        max-height: 600px;
        margin-top: 106px;
    }
}

.styles {
    max-width: 1920px;
    width: 100%;

    @media (max-width:880px) {
        display: none;
    }
}

.content {
    max-width: 1080px;
    width: 100%;

    @media (max-width:1151px) {
        max-width: 680px;
        width: 100%;
    }

    @media (max-width:880px) {
        margin-top: 60px;
    }

    @media (max-width:590px) {
        max-width: 590px;
        max-height: 700px;
    }

    h2 {
        color: var(--eigengrau-color);
        font-size: 46px;
        font-weight: 900;
        margin-bottom: 0;

        @media (max-width:1151px) {
            font-size: 30px;
            text-align: center;
        }

        @media (max-width:616px) {
            font-size: 28px;
        }

        @media (max-width:560px) {
            font-weight: 700;
            text-align: center;
        }

    }

    p {
        max-width: 1080px;
        width: 100%;
        text-align: justify;
        font-size: 18px;
        font-weight: 600;
        line-height: 31px;
        margin-bottom: 12px;

        @media (max-width:616px) {
            font-size: 16px;
        }

        @media (max-width:560px) {
            width: 269px;
            text-align: justify;
            font-weight: 500;
            line-height: 18.5px;
            margin: 0 auto;
        }
    }
}

.buttonDiv {
    @include flexCenter();
    justify-content: space-between;

    .be {
        width: 245px;
        height: 50px;
        border-radius: 46px;
        background: var(--hexadecimal-color);
        color: var(--white-color);
        font-size: 18px;
        font-weight: 700;
        border: none;
    }

    .all {
        width: 245px;
        height: 50px;
        border-radius: 46px;
        border: 2px solid var(--eigengrau-color);
        background: var(--button-more-color);
        color: var(--eigengrau-color);
        font-size: 18px;
        font-weight: 700;
        margin-left: 10px;
    }

    @media (max-width:560px) {
        flex-direction: column;
        margin-top: 10px;

        .be {
            width: 218px;
            height: 44px;
            margin-bottom: 10px;
        }

        .all {
            width: 218px;
            height: 44px;
        }
    }
}

.contentImgTexts {
    max-width: 1020px;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    box-sizing: border-box;
    z-index: 1;
    position: absolute;
    top: 35%;
    left: 20%;

    @media (max-width:1340px) {
        top: 29%;
        left: 8%;
    }

    @media (max-width:1151px) {
        flex-direction: column-reverse;
        left: 3%;
    }

    @media (max-width:1080px) {
        max-width: 900px;
        flex-direction: column-reverse;
        left: 8%;
    }

    @media (max-width:996px) {
        max-width: 750px;
    }

    @media (max-width:835px) {
        max-width: 650px;
    }

    @media (max-width:725px) {
        max-width: 550px;
        top: 29%;
        left: 8%;
    }

    @media (max-width:616px) {
        max-width: 500px;
        top: 25%;
        left: 5%;
    }

    @media (max-width:480px) {
        max-width: 350px;
        top: 25%;
        left: 5%;
    }
}

.img301 {
    max-width: 550px;
    width: 100%;
    margin: 0;

    @media (max-width:1168px) {
        max-width: 510px;
    }

    @media (max-width:560px) {
        max-width: 280px;
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 0 auto;
        margin-bottom: 60px;
    }
}

.socialMedia {
    @include flexCenter();
    flex-direction: column;

    @media (max-width:1200px) {
        display: none;
    }
}

.followUs {
    font-weight: 600;
    writing-mode: vertical-lr;
    text-orientation: mixed;
    transform: rotate(360deg);
    white-space: nowrap;
}

.line {
    width: 1px;
    height: 50px;
    background-color: var(--eigengrau-color);
    margin: 7px 0;
}

.icons {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;

    img {
        margin-bottom: 3px;
    }
}

.iconItem {
    width: 10px;
    height: 15px;
}

.imagesDiv {
    max-width: 1880px;
    width: 90%;
    max-height: 785px;
    height: 100%;
    position: absolute;
    top: 11%;
    left: 50%;
    transform: translateX(-50%);
    @include flexCenter();
    justify-content: space-between;
    padding: 15px;
    box-sizing: border-box;

    @media (max-width:1340px) {
        top: 6%;
        left: 53%;
    }

    @media (max-width:880px) {
        top: 80%;
        left: 49%;
    }

    @media (max-width:560px) {
        max-width: 350px;
        width: 100%;
        top: 8%;
        left: 50%;
    }
}

.firstImg {
    max-width: 134px;
    width: 100%;
    max-height: 134px;
    height: 100%;
    transform: rotate(90deg);
    opacity: 0.5;

    @media (max-width:1340px) {
        display: none;
    }
}

.secondImg {
    max-width: 650px;
    width: 100%;
    max-height: 650px;
    height: 100%;
    opacity: 0.5;

    @media (max-width:1340px) {
        margin: 0 auto;
        max-width: 530px;
        width: 100%;
        max-height: 530px;
    }

    @media (max-width:880px) {
        max-width: 800px;
        height: 460px;
        position: absolute;
        opacity: 1;
    }

    @media (max-width:560px) {
        width: 340px;
        height: 250px;
    }
}

.romb {
    max-width: 1235px;
    width: 100%;
    max-height: 785px;
    height: 100%;
    @include flexCenter();
    justify-content: center;

    @media (max-width:1340px) {
        margin: 0 auto;
        max-width: 900px;
        width: 100%;
        max-height: 900px;
    }

    @media (max-width:880px) {
        display: none;
    }
}