.Contact {
    font-family: 'Montserrat';
    max-width: 1920px;
    width: 100%;
    box-shadow: var(--item-shadow);
}

.topLine {
    display: flex;
    max-width: 1925px;
    width: 100%;
}

.title {
    max-width: 1925px;
    width: 100%;
    box-shadow: var(--item-shadow);
}

.write {
    max-width: 1080px;
    width: 100%;
    margin: 0 auto;
    color: var(--eigengrau-color);
    font-size: 34px;
    font-weight: 700;
    padding: 75px 0;
    display: flex;
}

.contactPart {
    max-width: 1080px;
    width: 100%;
    margin: 0 auto;
    display: flex;
    padding: 75px;

    span {
        color: #121212;
        font-size: 20px;
        font-weight: 500;
        line-height: 31px;
    }

    .input {
        max-width: 440px;
        width: 100%;
        height: 45px;
        padding-left: 10px;
        border-radius: 10px;
        border: 2px solid rgba(0, 0, 0, 0.14);
        box-shadow: var(--input-textarea-shadow);
        color: var(--input-textarea-color);
        font-size: 20px;
        font-weight: 500;
    }

    .textarea {
        width: 470px;
        min-width: 300px;
        max-width: 470px;
        height: 140px;
        min-height: 140px;
        max-height: 230px;
        padding: 10px;
        padding: 10px;
        border-radius: 10px;
        border: 2px solid rgba(0, 0, 0, 0.14);
        box-shadow: var(--input-textarea-shadow);
        color: var(--input-textarea-color);
        font-size: 20px;
        font-weight: 500;
        box-sizing: border-box;
        overflow: auto;
    }

    button {
        width: 245px;
        height: 50px;
        border-radius: 46px;
        background: var(--hexadecimal-color);
        box-shadow: var(--button-shadow);
        border: none;
        margin-top: 5px;
        color: var(--white-color);
        font-size: 18px;
        font-weight: 700;
    }
}

.massage {
    display: flex;
    flex-direction: column;
}

.nameMail {
    display: flex;
    flex-direction: column;
    margin-top: 10px;
}

.nameMailPart {
    max-width: 1080px;
    width: 100%;
}

.send {
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    button {
        margin-left: auto;
    }
}