.Contact {
    position: relative;
    max-width: 1920px;
    width: 100%;
    box-shadow: var(--item-shadow);
    box-sizing: border-box;
}

.topLine {
    display: flex;
    max-width: 1925px;
    width: 100%;
}

.title {
    max-width: 1925px;
    width: 100%;
    box-shadow: var(--item-shadow);
}

.write {
    max-width: 1020px;
    width: 100%;
    margin: 0 auto;
    color: var(--eigengrau-color);
    font-size: 34px;
    font-weight: 700;
    padding: 65px 0;
    display: flex;

    @media (max-width:480px) {
        padding: 0;
    }
}

@media (max-width: 1280px) {
    .write {
        display: flex;
        align-items: center;
        font-size: 19px;
        padding-left: 25px;
        margin: 0 auto;
        padding: 35px;
        box-sizing: border-box;
    }

    .letter {
        width: 27px;
        height: 21px;
        padding-right: 10px;
    }
}

@media (max-width:480px) {
    .write {
        padding: 25px 0 25px 25px;
        box-sizing: border-box;
    }
}

.contactPart {
    max-width: 1020px;
    width: 100%;
    margin: 0 auto;
    display: flex;
    padding: 80px 0;

    span {
        color: #121212;
        font-size: 20px;
        font-weight: 500;
        line-height: 31px;

        @media (max-width:490px) {
            max-width: 280px;
            width: 100%;
            display: flex;
            margin: 0 auto;
        }
    }

    .textarea {
        width: 450px;
        min-width: 300px;
        max-width: 470px;
        height: 140px;
        min-height: 140px;
        max-height: 230px;
        padding: 10px;
        border-radius: 10px;
        border: 2px solid rgba(0, 0, 0, 0.14);
        box-shadow: var(--input-textarea-shadow);
        color: var(--input-textarea-color);
        font-size: 20px;
        font-weight: 500;
        box-sizing: border-box;
        overflow: auto;

        @media (max-width:490px) {
            max-width: 225px;
            max-height: 143px;
        }
    }

    .contactButton {
        width: 245px;
        height: 50px;
        border-radius: 46px;
        background: var(--hexadecimal-color);
        box-shadow: var(--button-shadow);
        border: none;
        margin-top: 5px;
        margin-left: 0;
        color: var(--white-color);
        font-size: 18px;
        font-weight: 700;
    }
}

@media (max-width: 1280px) {
    .contactPart {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 0 auto;
        padding: 40px 0;
    }
}

@media (max-width: 480px) {
    .contactPart {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 0 auto;
    }
}

.massage {
    display: flex;
    flex-direction: column;

    @media (max-width: 1280px) {
        .contactButton {
            justify-content: center;
            align-items: center;
            margin: 0 auto;
            margin-top: 15px;
        }
    }
}

.nameMail {
    display: flex;
    flex-direction: column;
    margin-top: 10px;

    .input {
        max-width: 420px;
        width: 100%;
        height: 45px;
        padding-left: 10px;
        border-radius: 10px;
        border: 2px solid rgba(0, 0, 0, 0.14);
        box-shadow: var(--input-textarea-shadow);
        color: var(--input-textarea-color);
        font-size: 20px;
        font-weight: 500;

        @media (max-width:490px) {
            max-width: 280px;
            width: 100%;
            max-height: 46px;
            display: flex;
            margin: 0 auto;
        }
    }

    @media (max-width:490px) {
        max-width: 440px;
        width: 100%;
        display: flex;
        margin: 0 auto;
    }

}

.nameMailPart {
    max-width: 1080px;
    width: 100%;

    @media (max-width:1280px) {
        width: 440px;
        display: flex;
        flex-direction: column;
        margin: 0 auto;
    }

    @media (max-width:480px) {
        width: 340px;
        display: flex;
        flex-direction: column;
        margin: 0 auto;
    }
}

.send {
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    button {
        margin-left: auto;
    }
}

.styleImg {
    position: absolute;
    top: 65%;
    right: 8%;
    max-width: 170px;
    width: 100%;
    max-height: 200px;
    height: 100%;
    padding: 15px;
    opacity: 0.6;

    @media (max-width:1480px) {
        display: none;
    }
}