.Ambassadors {
    max-width: 1080px;
    width: 95%;
    text-align: justify;
    line-height: 31px;
    margin: 0 auto;
    display: flex;
    padding-top: 55px;

    p {
        max-width: 624px;
        width: 100%;
        font-size: 20px;
        font-weight: 500;
        line-height: 31px;
        padding-right: 35px;
    }
}

.title {
    display: flex;
    align-items: center;
    margin: 0;

    img {
        margin-right: 5px;
    }
}

.buttonBe {
    max-width: 245px;
    width: 100%;
    border-radius: 46px;
    font-size: 18px;
    font-weight: 700;
    padding: 15px;
    border-radius: 46px;
    border: none;
    color: var(--white-color);
    background: #EE8842;
    box-shadow: -21px 16px 38px 0px rgba(238, 136, 66, 0.42);
}