.Volunteers {
    max-width: 1080px;
    width: 95%;
    text-align: justify;
    line-height: 31px;
    margin: 0 auto;
    display: flex;
    padding-top: 55px;

    p {
        max-width: 624px;
        width: 100%;
        font-size: 20px;
        font-weight: 500;
        line-height: 31px;
        padding-left: 25px;
    }
}

.title {
    display: flex;
    align-items: center;
    margin: 0;

    img {
        margin-right: 5px;
    }
}


.buttonsDiv {
    display: flex;
    margin-left: 25px;

    .buttonMore {
        max-width: 245px;
        width: 100%;
        border-radius: 46px;
        background-color: var(--white-color);
        padding: 15px;
        border: 1px solid var(--button-blue-color);
        font-size: 18px;
        font-weight: 700;
    }

    .buttonConnect {
        font-size: 18px;
        font-weight: 700;
        max-width: 245px;
        width: 100%;
        padding: 15px;
        margin-right: 10px;
        border: none;
        color: var(--white-color);
        border-radius: 46px;
        background: #C5D92D;
        box-shadow: -21px 16px 38px 0px rgba(197, 217, 45, 0.29);
    }
}