.swiper {
  max-width: 1278px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  position: relative;

  @media (max-width: 560px) {
    max-width: 550px;
    width: 94%;
    // padding-right: 25px;
    margin-left: 25px;
    box-sizing: border-box;
  }

  @media (max-width: 560px) {
    margin-left: 0;
  }
}

.btn {
  max-width: 38px;
  max-height: 38px;
  width: 100%;
  height: 100%;
  margin-left: 5px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 0 auto;
  position: absolute;
  z-index: 5;

  @media (min-width: 1975px) {
    display: none;
  }
}

.nextSlide {
  top: 30%;
  right: -4%;
  transform: rotate(180deg);

  @media (min-width: 1024px) {
    display: none;
  }
}

.prevSlide {
  top: 7%;
  left: -55%;

  @media (min-width: 1024px) {
    display: none;

  }
}

@media (min-width: 1024px) {

  .nextSlide,
  .nextSlide {
    display: none;
  }
}


.prevIcon {
  top: 10%;
  left: -20%;
  transform: rotate(90deg);
}

.nextIcon {
  top: 44%;
  right: 0;
  transform: rotate(-90deg);

}

.nextIcon,
.prevIcon {
  background: var(--button-bg-gradient);
}

.prevCard {
  top: 60%;
  left: -39%;
  transform: rotate(360deg);

  @media (max-width:625px) {
    top: 85%;
    left: 60%;
  }

  @media (max-width:560px) {
    right: 32%;
  }

  @media (max-width:480px) {
    right: -2%;
  }
}

.nextCard {
  top: 50%;
  right: -1%;
  transform: rotate(-180deg);

  @media (max-width:765px) {
    right: 2%;
  }

  @media (max-width:625px) {
    right: 1%;
  }

  @media (max-width:560px) {
    right: 4%;
  }

  @media (max-width:480px) {
    top: 48%;
    right: -4%;
  }
}

.prevCard,
.nextCard {
  background: var(--button-bg-gradient);
}


.prevStep {
  top: 0;
  left: -20%;
  transform: rotate(90deg);
}

.nextStep {
  top: 42%;
  right: 0;
  transform: rotate(-90deg);
}

.prevStep,
.nextStep {
  background: var(--button-bg-gradient);
}