.Donors {
    max-width: 1080px;
    width: 95%;
    text-align: justify;
    line-height: 31px;
    margin: 0 auto;
    display: flex;
    padding-top: 55px;
    box-sizing: border-box;

    p {
        max-width: 654px;
        width: 100%;
        font-size: 20px;
        font-weight: 500;
        line-height: 31px;
        padding-left: 20px;
        padding-right: 15px;
        box-sizing: border-box;


        @media (max-width:900px) {
            padding-left: 25px;
        }

        @media (max-width:480px) {
            font-size: 14px;
            font-weight: 500;
            line-height: 18.5px;
            box-sizing: border-box;
        }
    }
}

.content {
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: center;

    @media (max-width:900px) {
        flex-direction: column;
    }
}

.title {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    padding-left: 35px;

    img {
        margin-right: 5px;
    }

    @media (max-width:900px) {
        margin-left: 25px;
        align-items: center;
        justify-content: flex-start;
        padding-left: 15px;

    }

    @media (max-width:480px) {
        h2 {
            font-size: 18px;
            font-weight: 700;
        }
    }
}


.buttonsDiv {
    display: flex;
    margin-left: 25px;

    .buttonMore {
        max-width: 245px;
        width: 100%;
        border-radius: 46px;
        background-color: var(--white-color);
        padding: 15px;
        border: 1px solid var(--partners-button-color);
        font-size: 18px;
        font-weight: 700;

        @media (max-width:560px) {
            display: flex;
            justify-content: center;
            align-items: center;
            max-width: 218px;
            max-height: 44px;
            margin-bottom: 10px;
            margin-right: 0;
        }
    }

    .buttonConnect {
        font-size: 18px;
        font-weight: 700;
        max-width: 245px;
        width: 100%;
        border-radius: 46px;
        padding: 15px;
        margin-right: 10px;
        border: none;
        color: var(--white-color);
        background: var(--partners-button-color);
        box-shadow: -21px 16px 38px 0px rgba(193, 45, 217, 0.32);

        @media (max-width:560px) {
            display: flex;
            justify-content: center;
            align-items: center;
            max-width: 218px;
            max-height: 44px;
            margin-bottom: 10px;
            margin-right: 0;
        }
    }

    @media (max-width:900px) {
        display: flex;
        justify-content: center;
        margin: 0 auto;
    }

    @media (max-width:560px) {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0 auto;
        flex-direction: column;
    }
}

.partners {
    max-width: 1080px;
    width: 95%;
    margin: 0 auto;
    display: flex;
    justify-content: space-evenly;
    padding-top: 35px;

    @media (max-width:1280px) {
        max-width: 880px;
        width: 90%;
        flex-wrap: wrap;
    }
}

.partnersIcons {
    max-width: 222px;
    width: 100%;
    border: 1px solid #D7D7D7;
    padding: 0px 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    margin: 0 5px;

    @media (max-width:1280px) {
        width: 85%;
        padding: 15px 0;
        margin-bottom: 15px;
    }
}

.partnersImg {
    max-width: 405px;
    max-height: 384px;
    margin-top: 35px;

    @media (max-width:480px) {
        max-width: 228px;
        max-height: 197px;
    }
}