@mixin flexCenter {
    display: flex;
    align-items: center;
}

.Footer {
    position: relative;
    background-color: #151D27;
    max-width: 1920px;
    width: 100%;
    height: 360px;
}

.followUs {
    font-weight: 600;
    writing-mode: vertical-lr;
    text-orientation: mixed;
    transform: rotate(360deg);
    white-space: nowrap;
    color: var(--white-color);
}


.line {
    width: 1px;
    height: 50px;
    background-color: var(--white-color);
    margin: 7px 0;
}

.icons {
    display: flex;
    flex-direction: column;

    justify-content: space-evenly img {
        margin-bottom: 3px;
    }
}

.iconItem {
    width: 10px;
    height: 15px;
    fill: var(--white-color)
}

.socialMedia {
    @include flexCenter();
    flex-direction: column;
    padding-top: 25px;
}

.footerDiv {
    max-width: 1200px;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin: 0 auto;
    align-items: flex-start;
    color: var(--white-color);
}

.ourEcoSystem,
.ourEcoSystem2 {
    display: flex;
    flex-direction: column;
    font-size: 20px;
    font-weight: 500;
}

.infoAbout {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-top: 25px;

    img {
        margin-right: 5px;
    }
}

.footerBottomPart {
    max-width: 1920px;
    width: 100%;
    height: 110px;
    background-color: #C0C0C0;
}

.img301 {
    max-height: 400px;
    position: absolute;
    top: 20%;
    left: 45%;
    box-sizing: border-box;

    @media (max-width:1280px) {
        max-height: 400px;
        height: 60%;
        width: 40%;
        position: absolute;
        top: 27%;
        left: 45%;
        box-sizing: border-box;
    }
}
