.Donors {
    max-width: 1080px;
    width: 90%;
    text-align: justify;
    line-height: 31px;
    margin: 0 auto;
    display: flex;
    padding-top: 55px;

    p {
        max-width: 624px;
        width: 95%;
        font-size: 20px;
        font-weight: 500;
        line-height: 31px;
        padding-left: 25px;

        @media (max-width:900px) {
            padding-left: 15px;
        }

        @media (max-width:480px) {
            font-size: 14px;
            font-weight: 500;
            line-height: 18.5px;
            box-sizing: border-box;
        }
    }

}

.content {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    @media (max-width:900px) {
        flex-direction: column;
    }
}

.title {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    margin-bottom: -35px;

    img {
        margin-right: 5px;
    }

    @media (max-width:900px) {
        margin-left: 25px;
        align-items: center;
        justify-content: flex-start;
        padding-left: 15px;
        margin-bottom: -5px;
    }

    @media (max-width:480px) {
        margin-left: 18px;
        padding-left: 0px;

        h2 {
            font-size: 18px;
            font-weight: 700;
        }

        img {
            width: 23.999px;
            height: 23.995px;
        }
    }
}

.donors {
    max-width: 415px;
    max-height: 391px;
    margin: 0;

    @media (max-width:480px) {
        max-width: 228px;
        max-height: 197px;
        margin-right: auto;
        margin-left: 10px;
    }
}

.buttonsDiv {
    display: flex;
    margin-left: 25px;

    .buttonMore {
        max-width: 245px;
        width: 100%;
        border-radius: 46px;
        background-color: var(--white-color);
        padding: 15px;
        border: 1px solid var(--button-blue-color);
        font-size: 18px;
        font-weight: 700;

        @media (max-width:625px) {
            display: flex;
            justify-content: center;
            align-items: center;
            max-width: 215px;
            max-height: 44px;
            margin-bottom: 10px;
            margin-right: 0;
        }
    }

    .buttonConnect {
        font-size: 18px;
        font-weight: 700;
        max-width: 245px;
        width: 100%;
        border-radius: 46px;
        padding: 15px;
        background: var(--button-blue-color);
        margin-right: 10px;
        border: none;
        box-shadow: -21px 16px 38px 0px rgba(24, 147, 135, 0.38);
        color: var(--white-color);

        @media (max-width:625px) {
            display: flex;
            justify-content: center;
            align-items: center;
            max-width: 215px;
            max-height: 44px;
            margin-bottom: 10px;
            margin-right: 5px;
        }
    }

    @media (max-width:900px) {
        display: flex;
        justify-content: center;
        margin: 0 auto;
    }

    @media (max-width:560px) {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0 auto;
        flex-direction: column;
    }
}