.News {
    position: relative;
    max-width: 1925px;
    width: 100%;
    height: 820px;
    box-sizing: border-box;
    padding-bottom: 35px;

    @media (max-width:625px) {
        height: 770px;
        padding-bottom: 0px;
    }
}

.newsItems {
    max-width: 1080px;
    width: 100%;
    margin: 0 auto;
    margin-top: 45px;
    display: none;

    @media (max-width:1080px) {
        display: block;
    }
}

.newsItems2 {
    max-width: 1080px;
    width: 100%;
    margin: 0 auto;
    margin-top: 45px;
    display: flex;

    @media (max-width:1080px) {
        display: none;
    }
}

.topLine {
    display: flex;
    max-width: 1925px;
    width: 100%;
}

.title {
    max-width: 1925px;
    width: 100%;
    box-shadow: var(--item-shadow);
}

.write {
    max-width: 1065px;
    width: 90%;
    margin: 0 auto;
    color: var(--eigengrau-color);
    font-size: 36px;
    font-weight: 700;
    padding: 55px 0;
    padding-left: 15px;

    @media (max-width:560px) {
        font-size: 22px;
        font-weight: 800;
    }

    img {
        margin-right: 7px;
    }

    @media (max-width:480px) {
        img {
            width: 23.353px;
            height: 24px;
        }
    }
}

.newsDiv {
    max-width: 1080px;
    height: 485px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    flex-direction: column;
    padding: 50px;
    margin-top: 30px;

    @media (max-width:626px) {
        padding: 15px;
    }
}

.newsButton {
    max-width: 235px;
    width: 100%;
    padding: 15px;
    color: var(--hexadecimal-color);
    font-size: 18px;
    font-weight: 700;
    border-radius: 46px;
    background-color: var(--white-color);
    border: 1px solid var(--hexadecimal-color);
    box-shadow: var(--button-shadow);
    margin-top: 25px;

    @media (max-width:480px) {
        margin-bottom: 35px;
    }
}

.styleImg {
    position: absolute;
    top: 22%;
    left: 14%;
    max-width: 220px;
    width: 100%;
    max-height: 230px;
    height: 100%;
    padding: 15px;
    opacity: 1;

    @media (max-width:1480px) {
        display: none;
    }
}

.bottomPart {
    @media (max-width:480px) {
        height: 50px;
        background-color: rgb(242, 242, 242);
        max-width: 480px;
        padding-top: 4px;
        margin-top: 35px;
    }
}