.News {
    position: relative;
    max-width: 1925px;
    width: 100%;
    box-sizing: border-box;
}

.newsItems {
    max-width: 1080px;
    width: 100%;
    margin: 0 auto;
}

.topLine {
    display: flex;
    max-width: 1925px;
    width: 100%;
}

.title {
    max-width: 1925px;
    width: 100%;
    box-shadow: var(--item-shadow);
}

.write {
    max-width: 1065px;
    width: 90%;
    margin: 0 auto;
    color: var(--eigengrau-color);
    font-size: 36px;
    font-weight: 700;
    padding: 45px 0;
    padding-left: 15px;

    @media (max-width:560px) {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0 auto;
        font-size: 22px;
        font-weight: 800;
    }

    img {
        margin-right: 7px;
    }
}

.newsDiv {
    max-width: 1080px;
    height: 485px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    flex-direction: column;
    padding: 50px;
    margin-top: 30px;
}

.newsButton {
    max-width: 235px;
    width: 100%;
    padding: 15px;
    color: var(--hexadecimal-color);
    font-size: 18px;
    font-weight: 700;
    border-radius: 46px;
    background-color: var(--white-color);
    border: 1px solid var(--hexadecimal-color);
    box-shadow: var(--button-shadow);
    margin-top: 25px;

    @media (max-width:480px) {
        margin-bottom: 35px;
    }
}

.styleImg {
    position: absolute;
    top: 20%;
    left: 8%;
    max-width: 230px;
    width: 100%;
    max-height: 250px;
    height: 100%;
    padding: 15px;
    opacity: 1;

    @media (max-width:1480px) {
        display: none;
    }
}